@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
:root {
  --settings-selector-bar-bg: #24222a;
  --settings-content-bg: #302e38;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.stack {
  position: relative;
}
.stack > * {
  position: absolute;
}
.flex-center {
  @apply items-center justify-center
}
.card {
  padding: 16px;
  background-color: #EDEDEDb0;
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
}
.click-scale {
  cursor: pointer;
  user-select: none;
  transform: scale(1);
  transition: all 110ms ease-in-out;
}
.click-scale:active {
  transform: scale(.96);
}
button, input {
  outline: none;
  border: none;
  background: none;
}
.fill-size {
  width: 100%;
  height: 100%;
}
.max-size {
  width: 100vw;
  height: 100vh;
}
.fill-width {
  width: 100%;
}
.fill-height {
  height: 100%;
}
.vertical-scroll {
  overflow-y: scroll;
}
.horizontal-scroll {
  overflow-x: scroll;
}
.no-scroller::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.light-gray-click {
  user-select: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 110ms ease;
}
.light-gray-click:hover {
  background-color: #00000020;
}
.light-gray-click:active {
  background-color: #00000040;
}